{% extends 'useradmin/base.html' %}
{% block content %}

<div class="profile-edit">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="avatar">
            <div class="profile-image">
                <img src="{{ profile.image.url }}" />
            </div>
            <div class="name">{{ profile.first_name }} {{ profile.last_name }}
                {% if profile.verified == True %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>
                </svg>
                {% endif %}
            </div>
        </div>
        <div class="form">
            <div class="one-input">
                <div class="input-container">
                    <label for="old_password">Old password</label>
                    <input type="password" id="old_password" name="old_password" required placeholder="••••••••" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>    
            </div>
            <div class="two-inputs">
                <div class="input-container">
                    <label for="new_password">New Password</label>
                    <input type="text" id="new_password" name="new_password" required placeholder="••••••••" class="password">
                    <i class='bx bx-show eye-icon'></i>
                </div>
                <div class="input-container">
                    <label for="old_password">Confirm New Password</label>
                    <input type="text" id="confirm_new_password" name="confirm_new_password" required placeholder="••••••••" class="password">
                    <i class='bx bx-show eye-icon'></i>
                </div>
            </div>
            <button type="submit" class="btn btn-beige">Save Changes</button> 
        </div>
    </form>
</div>

{% endblock content %}