{% extends 'useradmin/base.html' %}
{% block content %}
<h3>Change password</h3>

<div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">Old Password</label>
            <input type="password" id="old_password" name="old_password" value="" required placeholder="********" class="form-input">
        </div>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" value="" required placeholder="********" class="form-input">
        </div>
        <div class="form-group">
            <label for="confirm_new_password">Confirm New Password</label>
            <input type="password" id="confirm_new_password" name="confirm_new_password" value="" required placeholder="********" class="form-input">
        </div>
        <button type="submit">Save Password</button>
    </form>
    <img style="border-radius: 50%;"src="{{ profile.image.url }}" height="64", width="64">
<div>

{% endblock content %}