{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AXG2FqENmi4prLZbBTPuPy8kpKVdS8ex7jO7XYhdfUpOP-M25dSGmgP01KVttVLGM8vWIZOqv_ZcVuO5&currency=USD"></script>
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <label class="navbar___link navbar__close"><i class="fa-solid fa-arrow-left"></i><span>Hide</span></label>
                </li>
                <li class="navbar__item">
                    <label for="tab-1" class="navbar__link"><i class="fa-solid fa-key"></i><span>Change Password</span></label>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'customer:profile-edit' %}" class="navbar__link"><i class="fa-solid fa-pen-to-square"></i><span>Edit Profile</span></a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'customer:dashboard' %}" class="navbar__link"><i class="fa-solid fa-arrow-rotate-left"></i><span>Back to Dashboard</span></a> 
                </li>      
            </ul>
        </nav>

        <div class="navbar__open">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </header>

    <div class="body-tabs">
        <div class="profile-edit">
            <!-- Password Change Tab -->
            <div id="content-1" class="tab-content password active">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="avatar">
                        <div class="profile-image">
                            <img src="{{ profile.image.url }}" />
                        </div>
                        <div class="name">{{ profile.first_name }} {{ profile.last_name }}
                            {% if profile.verified == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>
                            </svg>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form">
                        <div class="one-input">
                            <div class="input-container">
                                <label for="old_password">Old password</label>
                                <input type="password" id="old_password" name="old_password" required placeholder="••••••••" class="password">
                                <i class='bx bx-hide eye-icon'></i>
                            </div>    
                        </div>
                        <div class="two-inputs">
                            <div class="input-container">
                                <label for="new_password">New Password</label>
                                <input type="text" id="new_password" name="new_password" required placeholder="••••••••" class="password">
                                <i class='bx bx-show eye-icon'></i>
                            </div>
                            <div class="input-container">
                                <label for="old_password">Confirm New Password</label>
                                <input type="text" id="confirm_new_password" name="confirm_new_password" required placeholder="••••••••" class="password">
                                <i class='bx bx-show eye-icon'></i>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-beige">Save Changes</button> 
                    </div>
                </form>
            </div>
        </div>
        <div class="container" id="dashboard-messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="msg msg-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if form.errors %}
                <div class="msg msg-error">
                    {{ form.errors }}
                </div>
            {% endif %}
        </div>
        <script src="{% static 'js/function.js' %}"></script>
    </div>
</body>

