{% extends 'base.html' %}
{% block content %}

<h2>Order #{{ order.id }}</h2>
<h3>Status: {{ order.order_status|title }}</h3>
<h3>Contains: </h3>
<div class="invoice-box">
    <table>
        <tr class="heading">
            <td>Title</td>
            <td style="text-align: left;">Image</td>
            <td>Price</td>
        </tr>

        {% for product in products %}
        <tr class="item">
            <td>{{ product.item }}</td>
            <td style="text-align: left;"><img src="{{ product.image }}" height="32" width="32"/></td>
            <td>{% widthratio product.price 1 product.quantity %}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}