{% extends "base.html" %}
{% block content %}

<div class="tabs">
    <div class="tab"><a class="tab-link" href="{% url 'customer:dashboard' %}">Back to Dashboard</a></div>
    <div class="tab" id="tab5" style="display: none;" onclick="showTab('tab5')">Profile</div>
</div>

<!-- Profile Tab -->
<div id="tab5" class="tab-content active">
    <h3>My Profile</h3>
    <hr>
    {% if form.errors %}
    <div class="error-message">
        <strong>{{ form.errors }}</strong>
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <img src="{{ profile.image.url }}" height="64" width="64" alt="Profile Image"/>
        </div>
        <div class="form-group">
            {{ form.first_name }}
        </div>
        <div class="form-group">            
            {{ form.last_name }}
        </div>
        <div class="form-group">        
            {{ form.email }}
        </div>        
        <div class="form-group">        
            {{ form.bio }}
        </div>        
        <div class="form-group">        
            {{ form.phone_number }}
        </div>
        <div class="form-group">        
            {{ form.image }}
        </div>
        {% if profile.verified == True %}
            <div>Verified <span class="verified"><i class="fa-solid fa-check"></i></span></div>
        {% else %}
            <div>Unverified <span class="unverified"><i class="fa-solid fa-xmark"></i></span></div>
        {% endif %}
        <button type="submit" class="btn">Save Changes</button>        
    </form>
</div>

<script>
    const ctx = document.getElementById('myChart');
    const labels = {{ month|safe }};
    
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Orders',
                backgroundColor: 'gray',
                borderColor: 'gray',
                data: {{ total_orders|safe }},
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock content %}
