{% extends "base.html" %}

{% block content %}
<h1 class="signin-title">Sign In</h1>
<p class="signup-prompt">Don't have an account? <a href="{% url 'userauths:sign-up' %}" class="signup-link">Create one here</a></p>

<form method="post" class="signin-form">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="email">Email or Username</label>
        <input type="text" id="email" name="email" required placeholder="Username or Email" class="form-input">
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required placeholder="Your password" class="form-input">
    </div>

    <button type="submit" class="signin-button">Login</button>
</form>
{% endblock content %}
