{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="sign-container">
    <section class="container forms">
        <!-- Signup Form -->
        <div class="form signup">
          <div class="form-content">
            <header>Signup</header>
            <form method="post">
              {% csrf_token %}

              <div class="field input-field">
                <input type="email" placeholder="Email" class="input">
              </div>
              <div class="field input-field">
                <input type="password" placeholder="Create password" class="password">
              </div>
              <div class="field input-field">
                <input type="password" placeholder="Confirm password" class="password">
                <i class='bx bx-hide eye-icon'></i>
              </div>
              <div class="field button-field">
                <button>Signup</button>
              </div>
            </form>
            <div class="form-link">
              <span>Already have an account? <a href="{% url 'userauths:sign-in' %}" class="login-link">Login</a></span>
            </div>
          </div>
         <div class="line"></div>
          {% comment %} <div class="media-options">
            <a href="#" class="field facebook">
              <i class='bx bxl-facebook facebook-icon'></i>
              <span>Login with Facebook</span>
            </a>
          </div> {% endcomment %}
          <div class="media-options">
            <a href="{% provider_login_url 'google' %}" class="field google">
              <img src="{% static 'img/google.png' %}" alt="Google" class="google-img">
              <span>Sign up with Google</span>
            </a>
          </div>
        </div>
    </section>
</div>
{% endblock content %}

