{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://js.braintreegateway.com/web/dropin/1.43.0/js/dropin.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://www.paypal.com/sdk/js?client-id={{ settings.PAYPAL_CLIENT_ID   }}&currency=USD"></script>
    </head>
    <body>
        <header>
            <div class="category-dropdown">
                <label for="category"><a href="{% url 'store:category-list' %}">Category</a></label>
                <select id="category-select" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select a category</option>
                    {% for category in categories %}
                    <option value="{% url 'store:category-product-list' category.cid %}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="header-links">
                <a href="{% url 'store:product-list' %}">Shop</a>

                {% if request.user.is_authenticated %}
                <a href="{% url 'userauths:logout' %}" class="auth-link">Logout</a>
                {% else %}
                <a href="{% url 'userauths:sign-in' %}" class="auth-link">Sign in</a>
                {% endif %}
            </div>
            <!-- Wishlist -->
            <div>
                <a href="{% url 'store:wishlist' %}">
                <i class="fa-solid fa-heart"></i>
                <span class="wishlist-items-count">{{ wishlist }}</span>
                </a>
            </div>
            <!-- Cart -->
            <div class="cart-container">
                <a href="{% url 'store:cart' %}" class="cart-button">
                    <i class="fas fa-shopping-cart cart-icon"></i>
                    <!-- Cart Items Count -->
                    <span class="cart-items-count">{{ request.session.cart_data_obj|length }}</span>
                </a>
                <!-- Dropdown Menu -->
                <div class="cart-dropdown">
                    <div class="cart-products">
                        <!-- This will be populated with JavaScript -->
                    </div>
                    <a href="{% url 'store:cart' %}" class="cart-view-button">View Cart</a>
                    <a href="{% url 'store:checkout' %}" class="cart-checkout-button">Checkout</a>
                </div>
            </div>
            <a href="{% url 'customer:dashboard' %}"><i class="fa-solid fa-user"></i> My account</a>
            <!-- Search -->
            <div class="search-container">
                <form action="{% url 'store:search'%}" method="GET">
                    <input type="text" placeholder="Search for products..." name="query" class="search-input"/>
                    <button type="submit" class="search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </header>
        <div class="content-container">
            {% if messages %}
                {% for message in messages %}
                <div class="messages">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}

            {% block content %}

            {% endblock content %}
        </div>
        <script src="{% static 'js/function.js' %}"></script>
    </body>
</html>