{% extends 'base.html' %}
{% block content %}

<h1>Checkout</h1>
<section class="cart-summary">
    <div class="cart-items">
        <div>
            <h4>Your order #{{ order.oid }}</h4>
        </div>
        {% for order in order_items %}
        <div class="cart-item">
            <!-- Product Image -->
            <div class="cart-item-image">
                <img src="{{ order.image }}" alt="{{ product.title }}" />
            </div>
            <!-- Product Details -->
            <div class="cart-item-details">
                <p class="cart-item-title">{{ order.item|truncatechars:50 }}</p>
                <p class="cart-item-price">${{ order.price|floatformat:2 }}</p>
                <input type="number" value="{{ order.quantity }}" min="1" id="product-quantity-{{ order_id }}" class="cart-item-quantity" readonly />
                <p class="cart-item-subtotal">${{ order.total }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Order Summary -->
<div>
    <h3>Order Summary</h3>
    <h5>Tax: 0.00$</h5>
    <h5>Shipping: 0.00$</h5>
    <h5>Discount: {{ order.saved }}$</h5>
    <h5>Total: {{ order.price }}$</h5>
</div>
<!-- Coupon Code -->
<div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="code" placeholder="Enter Coupon Code..."/>
        <button type="submit">Apply</button>
    </form>
</div>
{% if cart_data %}
<form action="{% url 'payment:create_payment' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Pay with PayPal</button>
</form>
{% endif %}

<a href="{% url 'store:cart' %}" class="signin-button">Go back to cart</a>


{% endblock %}