{% extends 'base.html' %}
{% block content %}

<h1>Checkout</h1>
<section class="cart-summary">
    <div class="cart-items">
        <div>
            <h4>Your order</h4>
        </div>
        {% for product_id, product in cart_data.items %}
        <div class="cart-item">
            <!-- Product Image -->
            <div class="cart-item-image">
                <img src="{{ product.image }}" alt="{{ product.title }}" />
            </div>
            <!-- Product Details -->
            <div class="cart-item-details">
                <a href="{% url 'store:product-detail' product.pid %}" class="cart-item-title">{{ product.title|truncatechars:50 }}</a>
                <p class="cart-item-price">${{ product.price|floatformat:2 }}</p>
                <input type="number" value="{{ product.quantity }}" min="1" id="product-quantity-{{ product_id }}" class="cart-item-quantity" readonly />
                <p class="cart-item-subtotal">${% widthratio product.price 1 product.quantity %}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- Order Summary -->
<div>
    <h3>Order Summary</h3>
    <h5>Tax: 0$</h5>
    <h5>Shipping: 0$</h5>
    <h5>Discount: 0$</h5>
    <h5>Total: {{ cart_total_amount }}$</h5>
</div>
<!-- Coupon Code -->
<div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="code" placeholder="Enter Coupon Code..."/>
        <button type="submit">Apply</button>
    </form>
</div>
{% if cart_data %}
<form action="{% url 'payment:create_payment' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Pay with PayPal</button>
</form>
{% endif %}

<a href="{% url 'store:cart' %}" class="signin-button">Go back to cart</a>


{% endblock %}