{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Welcome to my store</h1>

{% for product in products %}
<!-- Product Discount -->
<div>
    <span>-{{ product.get_percentage|floatformat:0 }}%</span>
</div>
<!-- Product Image -->
<div>
    <img src="{{ product.image.url }}" alt="" height="128" width="128" />
</div>
<!-- Product Category -->
<div>
    <a href="{% url 'store:category-product-list' product.category.cid %}">{{ product.category.title }}</a>
</div>
<!-- Product Title -->
<div>
    <a href="{% url 'store:product-detail' product.pid%}">{{ product.title|truncatechars:50 }}</a>
</div>
<!-- Product Vendor -->
<div>
    By <a href="{% url 'store:vendor-detail' product.vendor.vid %}">{{ product.vendor.title }}</a>
</div>
<!-- Product Price -->
<div>   
    <span>${{ product.price }}</span>
    <br>
    <span>${{ product.old_price }}</span>
</div>
<br>
<!-- Product End-->

{% endfor %}


{% endblock content %}