{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Product Section -->
<div class="product-section">

    <!-- Product Discount -->
    <div class="product-discount">
        <span class="discount-badge">-{{ product.get_percentage|floatformat:0 }}%</span>
    </div>

    <!-- Product Image Gallery -->
    <div class="product-images">
        <!-- Main Image -->
        <div class="main-image">
            <img src="{{ product.image.url }}" alt="{{ product.title }}" height="256" width="256" />
        </div>

        <!-- Extra Images -->
        {% if product_images %}
        <h2>Other images</h2>
        <div class="extra-images">
            {% for image in product_images %}
            <div class="extra-image">
                <img src="{{ image.images.url }}" alt="Additional Image" height="128" width="128" />
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <!-- Product Details -->
    <div class="product-details">
        <!-- Product Category -->
        <div class="product-category">
            <a href="{% url 'store:category-product-list' product.category.cid %}">{{ product.category.title }}</a>
        </div>

        <!-- Product Title -->
        <div class="product-title">
            <h4>{{ product.title|truncatechars:50 }}</h4>
        </div>

        <!-- Product Description -->
        <div class="product-description">
            <p>{{ product.description|truncatechars:100|safe }}</p>
        </div>

        <!-- Product Vendor -->
        <div class="product-vendor">
            By <a href="{% url 'store:vendor-detail' product.vendor.vid %}">{{ product.vendor.title }}</a>
        </div>

        <!-- Product Price -->
        <div class="product-price">
            <span>$</span><span id="current-price" class="current-price-{{ product.id }}">{{ product.price }}</span>
            <br>
            {% if product.old_price %}
            <span>$</span><span class="old-price">{{ product.old_price }}</span>
            {% endif %}
        </div>

        <!-- Product Properties -->
            <small>Type: {{ product.type }}</small>
            <small>SKU: {{ product.sku }}</small>
            <small>MFD: {{ product.mfd|date:"d M, Y" }}</small>
            <small>Life: {{ product.life }}</small>
            <small>Stock: {{ product.stock_count }} Item{{ product.stock_count|pluralize }} In Stock</small>
        </div>

        <!-- Add to Cart -->
        <div>
            <input type="number" value="1" min="1" id="product-quantity" class="product-quantity-{{ product.id }}"/>
            <input type="hidden" value="{{ product.pid }}" class="product-pid-{{ product.id }}"/>
            <input type="hidden" value="{{ product.id }}" class="product-id-{{ product.id }}"/>
            <input type="hidden" value="{{ product.image.url }}" class="product-image-{{ product.id }}"/>
            <input type="hidden" value="{{ product.title }}" class="product-title-{{ product.id }}"/> 
            <button type="submit" class="add-to-cart-btn" data-index="{{ product.id }}" id="add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add</button>
        </div>

    </div>


    <br>

    <!-- Product Info Boxes -->
    <div class="info-boxes">
        <!-- Info Box 1: Address & Return/Warranty -->
        <div class="info-box">
            <div class="user-address">
                <span>📍{{ address.city }}, {{ address.address }}</span>
                <br>
                {% if address.status %}
                <span>Verified ✅</span>
                {% else %}
                <span>Unverified ❌</span>
                {% endif %}
            </div>
            <hr>
            <div class="return-warranty">
                <h5>Return & Warranty</h5>
                <span>{{ product.vendor.authentic_rating }}% Authentic</span>
                <br>
                <span>{{ product.vendor.days_return }} Days Return</span>
                <br>
                <span>{{ product.vendor.warranty_period }} Months Warranty</span>
            </div>
        </div>

        <!-- Info Box 2: Vendor Details -->
        <div class="info-box">
            <h3>Vendor</h3>
            <a href="{% url 'store:vendor-detail' product.vendor.vid %}"><h1>{{ product.vendor.title }}</h1></a>
            <div class="vendor-image">
                <img src="{{ product.vendor.image.url }}" alt="{{ product.vendor.title }}" height="256" width="256" />
            </div>
            <br>
            <div class="vendor-address">
                <span>📍Address: {{ product.vendor.city }}, {{ product.vendor.address }}</span>
                <br>
                <span>🎧 Contact Seller: {{ product.vendor.contact }}</span>
            </div>
            <hr>
            <div class="vendor-ratings">
                <p>Rating</p>
                <h4>{{ product.vendor.rating }}%</h4>
            </div>
            <div class="vendor-shipping">
                <p>Ship on Time</p>
                <h4>{{ product.vendor.shipping_on_time }}%</h4>
            </div>
            <div class="vendor-chat-response">
                <p>Chat Response</p>
                <h4>{{ product.vendor.chat_resp_time }}%</h4>
            </div>
        </div>
    </div>

    <br>

    <!-- Full Product Description -->
    <div class="full-description">
        <h3>Description</h3>
        <p>{{ product.description|safe }}</p>
    </div>

    <br>

    <!-- Reviews -->
    <div class="reviews">
        {% for review in reviews %}
        <!-- Single Review -->
        <div class="single-review">
            <!-- Review User Logo & Username -->
            <div class="review-header">
                <img src="{% static 'img/admin-logo.jpg' %}" alt="User Avatar" class="review-avatar" id="review-avatar" />
                <a href="#" class="review-username">{{ review.user.username }}</a>
            </div>
            <!-- Review Content -->
            <div class="review-content">
                <p>{{ review.review|safe }}</p>
            </div>
            <!-- Review Date -->
            <div class="review-date">
                <span>{{ review.date|date:"d M, Y" }}</span>
            </div>
            <!-- Review Rating -->
            <div class="review-rating">
                {% for star in review.rating|ljust:review.rating %}
                    <span>★</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

        <!-- Review Statistics -->
        <div class="review-statistics">
            <h1>Customer reviews</h1>
            <div class="average-rating">
                {% if average_rating.rating %}
                <span class="rating-value">{{ average_rating.rating|floatformat:1 }}</span> out of 5.0
                {% else %}
                <span class="rating-value">0.0</span> out of 5.0
                {% endif %}
            </div>
            <div class="star-progress-container">
                <!-- 5 star progress -->
                <div class="star-progress">
                    <span class="star-label">5 stars</span>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: 75%;"></div>
                    </div>
                </div>
                <!-- 4 star progress -->
                <div class="star-progress">
                    <span class="star-label">4 stars</span>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: 60%;"></div>
                    </div>
                </div>
                <!-- 3 star progress -->
                <div class="star-progress">
                    <span class="star-label">3 stars</span>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: 45%;"></div>
                    </div>
                </div>
                <!-- 2 star progress -->
                <div class="star-progress">
                    <span class="star-label">2 stars</span>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: 20%;"></div>
                    </div>
                </div>
                <!-- 1 star progress -->
                <div class="star-progress">
                    <span class="star-label">1 star</span>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: 10%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Review form -->
        {% if request.user.is_authenticated %}
        {% if make_review == True %}
        <div class="review-container">
            <h3 class="review-title hide-review">Add a review</h3>
            <div class="messages">
                <strong id="review-response"></strong>
            </div>
            <form method="post" action="{% url 'store:ajax-add-review' product.pid %}" class="review-form hide-review-form" id="reviewForm">
                {% csrf_token %}
                <div class="form-group">
                    {{ review_form.review }}
                </div>
                <div class="form-group">
                    {{ review_form.rating }}
                </div>
                <button type="submit" class="submit-btn">Submit Review</button>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </div>

    <br>

    <!-- Related Products -->
    <div class="related-products">
        <h2>Related Products</h2>
        {% for related_product in products %}
        <div class="related-product">
            <!-- Product Discount -->
            <div class="product-discount">
                <span class="discount-badge">-{{ product.get_percentage|floatformat:0 }}%</span>
            </div>
            <!-- Product Image -->
            <div class="product-image">
                <img src="{{ related_product.image.url }}" alt="{{ related_product.title }}" height="128" width="128" />
            </div>
            <!-- Product Title -->
            <div class="product-title">
                <a href="{% url 'store:product-detail' related_product.pid %}">{{ related_product.title|truncatechars:50 }}</a>
            </div>
            <!-- Product Price -->
            <div class="product-price">
                <span>${{ related_product.price }}</span>
                <br>
                <span class="old-price">${{ related_product.old_price }}</span>
            </div>
            <!-- Add to Cart -->
            <div>
                <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ product.id }}"/>
                <input type="hidden" value="{{ product.pid }}" class="product-pid-{{ product.id }}"/>
                <input type="hidden" value="{{ product.id }}" class="product-id-{{ product.id }}"/>
                <input type="hidden" value="{{ product.image.url }}" class="product-image-{{ product.id }}"/>
                <input type="hidden" value="{{ product.title }}" class="product-title-{{ product.id }}"/> 
                <button type="submit" class="add-to-cart-btn" data-index="{{ product.id }}" id="add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <br>

    <!-- Category Filter -->
    <div class="category-filter">
        <h1>Categories</h1>
        {% for category in categories %}
        <div class="category">
            <!-- Category Image -->
            <div class="category-image">
                <img src="{{ category.image.url }}" alt="{{ category.title }}" height="128" width="128" />
            </div>
            <!-- Category Title -->
            <div class="category-title">
                <a href="{% url 'store:category-product-list' category.cid %}">{{ category.title }}</a>
            </div>
            <!-- Category Product Count -->
            <div class="category-count">
                <span>{{ category.category.count }} Product{{ category.category.count|pluralize }}</span>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}