{% extends "base.html" %}
{% load static %}

{% block content %}

{% for product in products %}
<!-- Product Discount -->
<div>
    <span>-{{ product.get_percentage|floatformat:0 }}%</span>
</div>
<!-- Product Image -->
<div>
    <img src="{{ product.image.url }}" alt="" height="128" width="128" />
</div>
<!-- Product Category -->
<div>
    <a href="#">{{ product.category.title }}</a>
</div>
<!-- Product Title -->
<div>
    <p>{{ product.title }}</p>
</div>
<!-- Product Vendor -->
<div>
    <li>By {{ product.vendor.title }}</li>
</div>
<!-- Product Price -->
<div>   
    <span>${{ product.price }}</span>
    <br>
    <span>${{ product.old_price }}</span>
</div>
<br>
<!-- Product End-->

{% endfor %}

{% endblock content %}