{% extends 'base.html' %}
{% block content %}

<h2>Your wishlist</h2>
<h4>There are  {{ wishlist_obj|length }} product{{ wishlist_obj|length|pluralize }} in your wishlist</h4>
<div class="invoice-box">
    <table>
        <tr class="heading">
            <td>Product</td>
            <td></td>
            <td style="text-align: left;">Price</td>
            <td>Stock status</td>
            <td>Action</td>
            <td>Remove</td>
        </tr>

        {% for wishlist in wishlist_obj %}
        <tr class="item">
            <td style="text-align: left;"><img src="{{ wishlist.product.image.url }}" height="32" width="32"/></td>
            <td>{{ wishlist.product.title }}</td>
            <td>{{ wishlist.product.price }}</td>
            {% if wishlist.product.in_stock %}
                <td>In Stock</td>
            {% else %}
                <td>Out of stock</td>
            {% endif %}
            <td><button type="submit" class="add-to-cart-btn" data-index="{{ product.id }}" id="add-to-cart-btn"><i class="fas fa-shopping-cart"></i> Add to cart</button></td>
            <td><button class="delete-from-wishlist" data-product="{{ product_id }}"><i class="fa-solid fa-trash"></i></button></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}