{% extends 'base.html' %}
{% block content %}

<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            {% comment %} <img
                                src="https://sparksuite.github.io/simple-html-invoice-template/images/logo.png"
                                style="width: 100%; max-width: 300px"
                            /> {% endcomment %}
                        </td>

                        <td>
                            Invoice #: {{ cart_data.order.oid }}<br />
                            Created: January 1, 2023<br />
                            Due: February 1, 2023
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            Sparksuite, Inc.<br />
                            12345 Sunny Road<br />
                            Sunnyville, CA 12345
                        </td>

                        <td>
                            Acme Corp.<br />
                            {{ request.user.username }}<br />
                            {{ request.settings.PAYPAL_RECEIVER_EMAIL }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>Payment Method</td>

            <td>Check #</td>
        </tr>

        <tr class="details">
            <td>Check</td>

            <td>1000</td>
        </tr>

        <tr class="heading">
            <td>Item</td>

            <td>Quantity</td>

            <td>Price</td>
        </tr>

        <tr class="item">
            <td>{{ cart_data.item.title }}</td>
            
            <td>{{ cart_data.quantity }}</td>

            <td>${% widthratio cart_data.price 1 cart_data.quantity %}</td>
        </tr>

        <tr class="total">
            <td></td>

            <td>Subtotal: ${{ cart_total_amount|floatformat:2 }}</td>
        </tr>
    </table>
</div>

{% endblock content %}